@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
/* header start */
header {
  width: 1100px;
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.link-item nav ul {
  display: flex;
}

.link-item ul li {
  list-style: none;
  margin-right: 34px;
}

.link-item ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: bold;
}

.fa-magnifying-glass.icon-head {
  color: #000000;
}

.fa-cart-shopping.icon-head {
  color: #000000;
}

.link-item nav ul a:hover {
  border-bottom: 3px solid orchid;
  transition: 0.5s;
}

/* camera start */

.main-camera {
  width: 1100px;
  display: flex;
  align-items: center;
  margin: 50px auto;
}

.main-camera .main-camera-desc {
  width: 50%;
}

.main-camera .camera-tittle {
  font-size: 43px;
  margin-bottom: 6px;
}

.fa-arrow-right.first-arrow {
  margin-left: 8px;
}
.btn {
  background-color: #e02c6d;
  color: white;
  width: 196px;
  height: 44px;
  border-radius: 41px;
  border: none;
  margin-top: 15px;
  font-weight: bold;
}

.btn:hover {
  transition: 0.5s;
  background-color: #089646;
}

.main-camera .main-camera-image {
  width: 50%;
  margin-left: 280px;
  border: 1px solid rgb(211, 199, 190);
  text-align: center;
  border-radius: 50%;
  padding: 10px;
}

/* market place icon */

.all-market-icon {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  margin: 80px auto;
  border-top: 1px solid rgb(224, 219, 219);
  border-bottom: 1px solid rgb(224, 219, 219);
  padding: 35px;
}

/* all popular camera item start  */

.all-card {
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
}

.all-card .card-heading-tittle {
  text-align: center;
  font-size: 28px;
}

.all-card .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.all-card .card {
  box-shadow: 5px 10px 8px 10px #f3e8e8;
  padding: 20px 0px;
  border-radius: 10px;
  padding-left: 28px;
}

.all-card .card .card-img {
  border-radius: 10px;
}

.all-card .card-info h1 {
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 0;
  transition: transform 0.5s;
}
.all-card .card-info h1:hover {
  transform: scale(1.1, 1.1);
  color: #e02c6d;
}

.all-card .card-info .price {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 8px;
  font-weight: bold;
  transition: transform 0.5s;
}
.all-card .card-info .price:hover {
  transform: scale(1.1, 1.1);
  color: rgb(161, 9, 216);
}

.fa-star,
.fa-star-half-stroke {
  color: #fb8200;
}

.all-card .card-info p {
  margin-top: 0;
}
.btn-2 {
  color: #e02c6d;
  width: 190px;
  height: 50px;
  font-size: 25px;
  border-radius: 41px;
  border: none;
  font-weight: bold;
}
.btn-2:hover {
  background-color: #5dca14;
  color: #b86307;
  transition: 0.5s;
}

.last-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

/* gear section */

.main-gear {
  display: flex;
  width: 1100px;
  margin: 0 auto;
}

.gear-img {
  width: 50%;
}
.gear-desc h1 {
  font-size: 38px;
  margin-top: 0;
}
.btn-3 {
  background-color: #e02c6d;
  color: white;
  padding: 10px 24px;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-3:hover {
  transition: 0.5s;
  color: black;
  background-color: #01dbfd;
  border-radius: 5px;
}
/* footer start */
footer {
  background-color: #13052f;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: -7px;
}
footer h2 {
  margin: 5px;
}
footer p {
  margin: 2px;
}

.social-media {
  margin-top: 10px;
}
.social {
  margin-right: 20px;
  margin-top: 10px;
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;
  padding: 15px;
  border-radius: 50%;
}
.social:hover {
  color: #000000;
  background-color: rgb(122, 255, 6);

  transition: 0.5s;
}

/* responsive */
@media only screen and (max-width: 576px) {
  .link-item nav ul {
    display: none;
  }

  header {
    width: 100%;
    justify-content: center;
    margin-top: 15px;
  }
  .head-left {
    font-size: 25px;
    color: rgb(208, 21, 0);
  }

  .main-camera {
    width: 100%;
    flex-direction: column-reverse;
  }

  .main-camera .main-camera-image {
    width: 100%;
    /* margin-left: -5px; */
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0px;
    border: none;
    margin-bottom: 30px;
  }
  .main-camera .main-camera-image img:hover {
    box-shadow: 5px 1px 20px 1px grey;
    border-radius: 50%;
    transition: 1s;
  }

  .main-camera .main-camera-image img {
    width: 300px;
  }
  .main-camera .main-camera-desc {
    width: 100%;
    text-align: center;
  }
  .main-camera .main-camera-desc p {
    padding: 0 15px;
  }

  .main-camera-desc button {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    background-image: linear-gradient(
      rgb(68, 255, 0),
      rgb(0, 76, 255),
      rgb(255, 1, 1)
    );
  }
  .main-camera-desc button:hover {
    background-image: linear-gradient(
      rgb(255, 0, 0),
      rgb(0, 0, 255),
      rgb(48, 255, 1)
    );
  }

  .all-market-icon {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .Alibaba,
  .Amazon,
  .Daraz,
  .Ebay,
  .Rakuten,
  .Target,
  .Walmart {
    margin: 20px 28px;
    transition: transform 0.5s;
  }
  .Alibaba:hover {
    transform: scale(1.3, 1.3);
  }
  .Amazon:hover {
    transform: scale(1.3, 1.3);
  }
  .Daraz:hover {
    transform: scale(1.3, 1.3);
  }
  .Ebay:hover {
    transform: scale(1.3, 1.3);
  }
  .Rakuten:hover {
    transform: scale(1.3, 1.3);
  }
  .Target:hover {
    transform: scale(1.3, 1.3);
  }

  .Walmart:hover {
    transform: scale(1.3, 1.3);
  }

  .all-card {
    width: 100%;
    text-align: center;
  }

  .all-card .card-heading-tittle {
    font-size: 40px;
    color: crimson;
    border-bottom: 10px dotted rgb(214, 102, 23);
    width: 240px;
    margin: 0 auto;
  }

  .all-card .cards {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .all-card .card {
    padding-left: 0px;
  }

  .card .card-img img {
    width: 270px;
    transition: transform 0.8s;
  }

  .card .card-img img:hover {
    transform: scale(1.1, 1.1);
  }

  .card .card-info h1 {
    font-size: 25px;
    color: rgb(255, 149, 1);
    transition: transform 0.5s;
  }

  .card .card-info h1:hover {
    transform: scale(1.2, 1.2);
  }

  .card .card-info .price {
    font-size: 30px;
    color: rgb(11, 194, 26);
    font-weight: bold;
    transition: transform 0.5s;
  }

  .card .card-info .price:hover {
    transform: scale(1.3, 1.3);
  }
  .card .card-info p {
    font-size: 23px;
    color: rebeccapurple;
    margin-top: 15px;
  }

  .last-btn {
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 25px;
  }
  .main-gear {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
  }

  .gear-img {
    width: 100%;
    text-align: center;
  }
  .main-gear .gear-img img {
    width: 270px;
  }

  .gear-desc {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .gear-desc h1 {
    font-size: 30px;
    padding: 0 47px;
  }
  .gear-desc p {
    padding: 0 40px;
  }

  .btn-3 {
    border-radius: 5px;
  }

  footer {
    width: 100%;
    padding: 20px 0;
  }
}
