@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap");

* {
  /* margin: 0;
  padding: 0; */
}

body {
  font-family: "Poppins", sans-serif;
}
/* header start */
header {
  width: 1100px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.link-item nav ul {
  display: flex;
}

.link-item ul li {
  list-style: none;
  margin-right: 34px;
}

.link-item ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: bold;
}

.fa-magnifying-glass.icon-head {
  color: #000000;
}

.fa-cart-shopping.icon-head {
  color: #000000;
}

.link-item nav ul a:hover {
  border-bottom: 3px solid orchid;
  transition: 0.5s;
}

/* camera start */

.main-camera {
  width: 1100px;
  display: flex;
  align-items: center;
  margin: 50px auto;
}

.main-camera .main-camera-desc {
  width: 50%;
}

.main-camera .camera-tittle {
  font-size: 43px;
  margin-bottom: 6px;
}

.fa-arrow-right.first-arrow {
  margin-left: 8px;
}
.btn {
  /* display: flex;
  align-items: center; */
  background-color: #e02c6d;
  color: white;
  width: 196px;
  height: 44px;
  border-radius: 41px;
  border: none;
}

.main-camera .main-camera-image {
  width: 50%;
  margin-left: 136px;
  border: 1px solid rgb(225, 212, 212);
  border-radius: 50%;
  padding: 10px;
}

/* market place icon */

.all-market-icon {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  margin: 80px auto;
  border-top: 1px solid rgb(224, 219, 219);
  border-bottom: 1px solid rgb(224, 219, 219);
  padding: 35px;
}

/* all popular camera item start  */

.all-card {
  width: 1100px;
  margin: 0 auto;
}

.all-card .card-heading-tittle {
  text-align: center;
  font-size: 28px;
}

.all-card .cards {
  /* width: 1100px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.all-card .card {
  box-shadow: 5px 10px 8px 10px #f3e8e8;
  padding: 20px 0px;
  border-radius: 10px;
  padding-left: 28px;
}

.all-card .card .card-img {
  border-radius: 10px;
}

.all-card .card-info h1 {
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 0;
}

.all-card .card-info .price {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 8px;
}

.fa-star,
.fa-star-half-stroke {
  color: #fb8200;
}

.all-card .card-info p {
  margin-top: 0;
}
.btn-2 {
  color: #e02c6d;
  width: 99px;
  height: 24px;
  border-radius: 41px;
  border: none;
  font-weight: bold;
}

.last-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

/* gear section */

.main-gear {
  display: flex;

  width: 1100px;
  margin: 0 auto;
}

.gear-img {
  width: 50%;
}
.gear-desc h1 {
  font-size: 38px;
  margin-top: 0;
}
.btn-3 {
  background-color: #e02c6d;
  color: white;
  padding: 10px 24px;
  border: none;
}
/* footer start */
footer {
  background-color: #13052f;
  color: white;
  text-align: center;
  padding: 20px;
}
footer h2 {
  margin: 5px;
}
footer p {
  margin: 2px;
}

.social-media {
  margin-top: 10px;
}
.social {
  margin-right: 10px;
}

/* responsive */
@media only screen and (max-width: 576px) {
  header {
    width: 100%;
    flex-direction: column;
  }
  .link-item nav ul {
    display: none;
  }

  .main-camera {
    width: 100%;
    flex-direction: column-reverse;
  }

  .main-camera .main-camera-desc {
    width: 100%;
    text-align: center;
  }

  .main-camera .main-camera-image {
    width: 100%;
    border: none;
  }

  .all-market-icon {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .Alibaba,
  .Amazon,
  .Daraz,
  .Ebay,
  .Rakuten,
  .Target,
  .Walmart {
    margin: 10px 15px;
  }
  .all-card {
    width: 100%;
    text-align: center;
  }

  .all-card .cards {
    display: flex;
    flex-direction: column;
  }

  .last-btn {
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .main-gear {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
  .gear-img {
    width: 100%;
  }
  .gear-desc {
    margin-bottom: 15px;
    text-align: center;
  }
  footer {
    width: 100%;
  }
}
